body {
    background-color: whitesmoke;
}

/* centers an element exact center of viewport */

#move {
    position: absolute;
    height:400px;
    width:400px;
    border-radius: 50%;
}

.shape {
    position:absolute;
    background-color:#500a0a80;
    border:1px solid black;
    margin:0;
    padding:0;
}



