/* Device-specific styles for the splash page 

---------------------------
    To use loaded fonts...

font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Flamenco', cursive;
font-family: 'Roboto', sans-serif;

    Color Palette ...
    
#0b1d2e	(11,29,46) dark blueish
#ffa07a	(255,160,122) salmon
#005387	(0,83,135) main blue
#bbbbbb	(187,187,187) ligt grey
#aaaaaa	(170,170,170) darker grey
 --------------------------  */

/* For large devices */

@media (min-width:979px) {
    /* Scramble the letters */
    /*k*/
    .letter .char1 {
        z-index: 4;
        transform: translate(0%, 0%);
    }
    /*y*/
    .letter .char2 {
        z-index: 6;
        transform: translate(0%, -10%);
        background: rgba(0, 83, 135, 0.3);

    }
    /*l*/
    .letter .char3 {
        z-index: 7;
        transform: translate(0%, 3%);
        background: rgba(0, 83, 135, 0.3);
    }
    /*e*/
    .letter .char4 {
        z-index: 13;
        transform: translate(0%, -15%);
        background: rgba(0, 83, 135, 0.3);
        background: rgba(0, 83, 135, 0.3);
    }
    /*w*/
    .letter .char5 {
        z-index: 4;
        transform: translate(0%, 0%);
    }
    /*e*/
    .letter .char6 {
        z-index: 3;
        transform: translate(0%, -13%);
        background: rgba(0, 83, 135, 0.3);
    }
    /*i*/
    .letter .char7 {
        z-index: 8;
        transform: translate(0%, 7%);
        background: rgba(0, 83, 135, 0.3);
    }
    /*s*/
    .letter .char8 {
        z-index: 9;
        transform: translate(0%, -10%);
        background: rgba(0, 83, 135, 0.3);
    }
    /*h*/
    .letter .char9 {
        z-index: 5;
        transform: translate(0%, 5%);
        background: rgba(0, 83, 135, 0.3);
    }
    /*a*/
    .letter .char10 {
        z-index: 10;
        transform: translate(0%, -17%);
        background: rgba(0, 83, 135, 0.3);
    }
    /*a*/
    .letter .char11 {
        z-index: 4;
        transform: translate(0%, 4%);
        background: rgba(0, 83, 135, 0.3);
    }
    /*r*/
    .letter .char12 {
        z-index: 1;
        transform: translate(0%, -7%);
        background: rgba(0, 83, 135, 0.3);
    }
    /* All hover styles */
    .container:hover .letter {
        transform: perspective(0px) rotateX(0deg);
        transition: 0.25s;
    }
    .container:hover .letter .char1,
    .container:hover .letter .char5 {
        font-weight: 900;
        background-color: rgba(0, 83, 135, 0.3);
        transform: skewY(0deg);
        filter: blur(0);
        text-shadow: 0 5px 2px rgb(0, 0, 0, 0.1);
        box-shadow: 0 0px 2px rgb(0, 0, 0, 0.1);
        padding: 0 20px;
        border-radius: 5px 5px;
        transition-delay:.75s, 0.5;
        transition-property:transform, background-color;
    }
    .container:hover .letter .char2,
    .container:hover .letter .char3,
    .container:hover .letter .char4,
    .container:hover .letter .char6,
    .container:hover .letter .char7,
    .container:hover .letter .char8,
    .container:hover .letter .char9,
    .container:hover .letter .char10,
    .container:hover .letter .char11,
    .container:hover .letter .char12 {
        background-color: #FFB294;
        transform: skewY(0deg);
        filter: blur(0);
        text-shadow: 0 5px 2px rgb(0, 0, 0, 0.1);
        box-shadow: 0 0px 2px rgb(0, 0, 0, 0.1);
        padding: 0 20px;
        border-radius: 5px 5px;
        transition-delay:.75s, 0.5;
        transition-property:transform, background-color;
    }
    .container:hover .sub {
        color: rgba(11, 29, 46, 1);
    }
}

/* Styles applied to small screens */

@media screen and (max-width:979px) {
    .container {
        /*On small screens
        max 500px*/
        max-width: 500px;
    }
    .sub {
        /*On small screens
        subtext is always blue */
        font-size: 4em;
        color: rgba(11, 29, 46, 1);
    }
    .letter {
        /*On small screens
        letter column wraps*/
        color: rgba(11, 29, 46, 1);
        font-size: 4em;
        transform: perspective(0px) rotateX(0deg);
        flex-flow: wrap;
    }
    
    .letter .char1,
    .letter .char3,
    .letter .char6,
    .letter .char11,
    .letter .char9,
    .letter .char8 {
        background: rgba(11, 29, 46, 0.3);
    }
}