/* Media styles for the splash page 

---------------------------
    To use loaded fonts...

font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Flamenco', cursive;
font-family: 'Roboto', sans-serif;

    Color Palette ...
    
#0b1d2e	(11,29,46) dark blueish
#ffa07a	(255,160,122) salmon
#005387	(0,83,135) main blue
#bbbbbb	(187,187,187) ligt grey
#aaaaaa	(170,170,170) darker grey
 -------------------------- 

I only want these effects on laptops and large
 devices that rely less on touch*/

@media (min-width:979px) {
    /* letter placement for anagram scramble */
    /*k*/
    .letter .char1 {
        z-index: 4;
        transform: translate(900%, 0);
    }
    /*y*/
    .letter .char2 {
        z-index: 6;
        transform: translate(1000%, 0);
    }
    /*l*/
    .letter .char3 {
        z-index: 7;
        transform: translate(200%, 0);
        background: rgba(0,83,135,0.3);
    }
    /*e*/
    .letter .char4 {
        z-index: 13;
        transform: translate(-100%, 0);
        background: rgba(0,83,135,0.3);
    }
    /*w*/
    .letter .char5 {
        z-index: 4;
        transform: translate(100%, 0);
    }
    /*e*/
    .letter .char6 {
        z-index: 3;
        transform: translate(500%, 0);
        background: rgba(0,83,135,0.3);
    }
    /*i easily hawker*/
    .letter .char7 {
        z-index: 8;
        transform: translate(100%, 0);
    }
    /*s*/
    .letter .char8 {
        z-index: 9;
        transform: translate(100%, 0);
        background: rgba(0,83,135,0.3);
    }
    /*h*/
    .letter .char9 {
        z-index: 5;
        transform: translate(-200%, 0);
        background: rgba(0,83,135,0.3);
    }
    /*a*/
    .letter .char10 {
        z-index: 10;
        transform: translate(-900%, 0);
        background: rgba(0,83,135,0.3);
    }
    /*a*/
    .letter .char11 {
        z-index: 4;
        transform: translate(-700%, 0);
    }
    /*r*/
    .letter .char12 {
        z-index: 1;
        transform: translate(-1000%, 0);
    }
    /* All hover styles */
    .center:hover .letter {
        transform: perspective(0px) rotateX(0deg);
    }
    .center:hover .letter .char1,
    .center:hover .letter .char5 {
        font-weight: 900;
        background: rgba(0,83,135,0.3);
        transform: skewY(0deg);
        filter: blur(0);
        text-shadow: 0 5px 2px rgb(0, 0, 0, 0.1);
        box-shadow: 0 0px 2px rgb(0, 0, 0, 0.1);
        padding: 0 20px;
    }
    .center:hover .letter .char2,
    .center:hover .letter .char3,
    .center:hover .letter .char4,
    .center:hover .letter .char6,
    .center:hover .letter .char7,
    .center:hover .letter .char8,
    .center:hover .letter .char9,
    .center:hover .letter .char10,
    .center:hover .letter .char11,
    .center:hover .letter .char12 {
        background: #FFB294;
        transform: skewY(0deg);
        filter: blur(0);
        text-shadow: 0 5px 2px rgb(0, 0, 0, 0.1);
        box-shadow: 0 0px 2px rgb(0, 0, 0, 0.1);
        padding: 0 20px;
    }
    .center:hover .hide {
        color: rgba(11,29,46,1);
    }
}

/* I want the tech writer logo to be dark blue on small screens */

@media screen and (max-width:979px) {
    .center .hide {
        padding: 25px 0;
        font-family: 'Libre Barcode 128 Text', cursive;
        font-size: 4em;
        transition: color 3s ease-in-out;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        color: rgba(11,29,46,1);
    }

    .letter {
        color: rgba(11,29,46,1);
        font-size: 4em;
        margin: 0;
        padding: 0;
        transition: 0.75s;
        transform: perspective(0px) rotateX(0deg);
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        font-variant-caps: small-caps;
    }

    .center {
max-width:500px;
    }

    .letter .char1,
    .letter .char3,
    .letter .char6,
    .letter .char11,
    .letter .char9,
    .letter .char8 {
        background: rgba(11,29,46,0.3);
    }
}