body {
    padding: 0;
    margin: 0;
    font-family: 'Flamenco', cursive;
    background-color: lightsalmon;
}

/*centers element in exact center of viewport*/

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hides the technical writer div*/

.center .hide {
    padding: 25px 0;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 4em;
    visibility: hidden;
    opacity: 0;
    transition: opacity 3s linear;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

/*Shows the technical writer div on hover */

.center:hover .hide {
    visibility: visible;
    opacity: 1;
}

/* Styles the main name text block */

.letter {
    color: #fff;
    font-size: 8em;
    margin: 0;
    padding: 0;
    transition: 0.75s;
    transform: perspective(1000px) rotateX(35deg);
    display: flex;
    justify-content: center;
    font-variant-caps: small-caps;
}

/* Styles the individuals letters */

.letter .char1,
.letter .char3,
.letter .char5,
.letter .char7,
.letter .char9,
.letter .char11 {
    background: rgba(255, 215, 199, 1);
    width: 1em;
}

.letter .char2,
.letter .char4,
.letter .char5,
.letter .char6,
.letter .char8,
.letter .char10,
.letter .char12 {
    background: rgba(255, 215, 199, 1);
    width: 1em;
}

.letter .char1,
.letter .char2,
.letter .char3,
.letter .char4,
.letter .char6,
.letter .char7,
.letter .char8,
.letter .char9,
.letter .char10,
.letter .char5,
.letter .char11,
.letter .char12 {
    display: inline-block;
    padding: 0 10px;
    transition: .75s;
    text-shadow: 0 5px 2px rgb(0, 0, 0, 0.1);
    box-shadow: 10px 50px 20px rgb(0, 0, 0, 0.1);
    filter: blur(.5px);
}

.center:hover .letter {
    transform: perspective(0px) rotateX(0deg);
    font-size: 7em;
}

.center:hover .letter .char1,
.center:hover .letter .char5 {
    font-weight: 900;
}

.center:hover .letter .char2,
.center:hover .letter .char3,
.center:hover .letter .char4,
.center:hover .letter .char5,
.center:hover .letter .char1,
.center:hover .letter .char6,
.center:hover .letter .char7,
.center:hover .letter .char8,
.center:hover .letter .char9,
.center:hover .letter .char10,
.center:hover .letter .char11,
.center:hover .letter .char12 {
    background: #FFB294;
    transform: skewY(0deg);
    filter: blur(0);
    text-shadow: 0 5px 2px rgb(0, 0, 0, 0.1);
    box-shadow: 0 0px 2px rgb(0, 0, 0, 0.1);
    padding: 0 20px;
    width:0.75em;
}

.letter .char1 {
    z-index: 1;
    transform: translate(6em, 0);
}

.letter .char2 {
    transform: translate(5em, 0);
}

.letter .char3 {
    transform: translate(4em, 0);
}

.letter .char4 {
    transform: translate(3em, 0);
}

.letter .char5 {
    z-index: 1;
    transform: translate(2em, 0);
}

.letter .char6 {
    transform: translate(0.5em, 0);
}

.letter .char7 {
    transform: translate(-1em, 0);
}

.letter .char8 {
    transform: translate(-2em, 0);
}

.letter .char9 {
    transform: translate(-3em, 0);
}

.letter .char10 {
    transform: translate(-4.1em, 0);
}

.letter .char11 {
    transform: translate(-5.5em, 0);
}

.letter .char12 {
    transform: translate(-6.5em, 0);
}