/* Basic applied styles for the main content 

---------------------------
    To use loaded fonts...

font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Flamenco', cursive;
font-family: 'Roboto', sans-serif;

    Color Palette ...
    
#0b1d2e	(11,29,46) dark blueish
#ffa07a	(255,160,122) salmon
#005387	(0,83,135) main blue
#bbbbbb	(187,187,187) ligt grey
#aaaaaa	(170,170,170) darker grey

See the media.css style sheet for device-specific changes

 -------------------------- */

body {
    padding: 0;
    margin: 0;
    font-family: 'Flamenco', cursive;
    background-color: lightsalmon;
}

/*centers element in exact center of viewport*/

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style for the barcode lettering */

.sub {
    padding: 25px 0;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 4em;
    transition: color 3s ease-in-out;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.75);
}

/* Styles the main name text block */

.letter {
    color: #fff;
    font-size: 6em;
    margin: 0;
    padding: 0;
    transition: 0.75s;
    transform: perspective(1000px) rotateX(35deg);
    display: flex;
    justify-content: center;
    font-variant-caps: small-caps;
}

/* Styles the individuals letters */

.letter .char1,
.letter .char2,
.letter .char3,
.letter .char4,
.letter .char5,
.letter .char6,
.letter .char7,
.letter .char8,
.letter .char9,
.letter .char10,
.letter .char11,
.letter .char12 {
    background: rgba(255, 215, 199, 1);
    display: inline-block;
    padding: 0 10px;
    transition: .75s;
    text-shadow: 0 5px 2px rgb(0, 0, 0, 0.1);
    box-shadow: 10px 50px 20px rgb(0, 0, 0, 0.1);
    filter: blur(.5px);
    text-align: center;
    width: 1.5em;
}